.MainContainer{
  display: flex;
  flex-direction: row;
  padding: 5rem;
  background-color: red;
}

.DropzoneContainer{
  background-color: yellow;
  width: 50%;
  height: 200px;
  overflow-y: scroll;
}
.DropzoneContent{
  height: 500px;
  background-color: orange;
}

.dropzone{
  
}
.dragItems{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
  /* justify-content: center; */
  /* align-items: center; */
}
.drag-item{
  width: 100px; 
  background-color: dodgerblue;
  text-align: center;
  padding: 10px;
  margin: 5px;
}